@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 214 82% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.opacload {
  animation: opacity 0.8s ease-in-out forwards infinite,
    scale 0.4s ease-in-out forwards;
  transform: scale(0.9);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.elementascale {
  animation: bougerBulle 0.8s ease-in-out forwards 0s,
    apparaitre 0.8s ease-in-out forwards 0s;
  transform: scale(0.2), translateY(100px), translateX(-100px);
  opacity: 0;
  transform-origin: bottom right;
}

@keyframes bougerBulle {
  0% {
    transform: scale(0.2) translateY(100px) translateX(-100px);
  }
  100% {
    transform: scale(1) translateY(0px) translateX(0px);
  }
}

@keyframes apparaitre {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.floublanc {
  filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 8px);
}

.testimgborderblack {
  border-image: fill 0 linear-gradient(#0003, #000);
}

.divgrad1 {
  background: linear-gradient(
    to bottom,
    #0575e6,
    #021b79
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bandrot {
  transform: rotate(-18deg);
}

@keyframes trsl1 {
  0% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes trsl2 {
  0% {
    transform: translate(100px);
  }
  100% {
    transform: translate(0px);
  }
}

.imgbgmtune {
  animation: trsl1 0.75s ease-in-out forwards,
    apparaitre 0.75s ease-in-out forwards;
}

.imgmerctune {
  animation: trsl2 0.75s ease-in-out 0.5s forwards,
    apparaitre 0.75s ease-in-out 0.5s forwards;
  opacity: 0;
}

.divgrad2 {
  background: linear-gradient(
    to right,
    #cb2d3e,
    #ef473a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blob {
  overflow: hidden;
  
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background: linear-gradient(
    to right,
    #F4F4F7,
    #C91313
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: morph 6s linear infinite;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33% {
    /* Ajoutez ici la propriété que vous souhaitez animer à 33% */
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}


.blob2 {
  overflow: hidden;
  border-radius: 50% 50% 40% 60% / 50% 40% 60% 50%;
  background: linear-gradient(to right, #eb3349, #F4F4F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: morph2 6s ease-in-out infinite;
}

@keyframes morph2 {
  0%, 100% {
    border-radius: 50% 50% 40% 60% / 50% 40% 60% 50%;
  }
  33% {
    border-radius: 40% 60% 60% 40% / 60% 50% 40% 60%;
  }
  66% {
    border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
  }
}


.blob3 {
  overflow: hidden;
  border-radius: 45% 55% 35% 65% / 50% 30% 70% 50%;
  background: linear-gradient(to right, #ff758c, #ff7e7e);
  animation: morph3 6s ease-in-out infinite;
}

@keyframes morph3 {
  0%, 100% {
    border-radius: 45% 55% 35% 65% / 50% 30% 70% 50%;
  }
  33% {
    border-radius: 55% 45% 65% 35% / 60% 40% 60% 40%;
  }
  66% {
    border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
  }
}


.blob4 {
  overflow: hidden;
  border-radius: 40% 60% 70% 30% / 60% 40% 30% 70%;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  animation: morph4 8s ease-in-out infinite;
}

@keyframes morph4 {
  0%, 100% {
    border-radius: 40% 60% 70% 30% / 60% 40% 30% 70%;
  }
  25% {
    border-radius: 70% 30% 40% 60% / 50% 70% 30% 50%;
  }
  50% {
    border-radius: 60% 40% 30% 70% / 70% 50% 70% 50%;
  }
  75% {
    border-radius: 30% 70% 50% 50% / 40% 60% 60% 40%;
  }
}

.dgmess{
  background: linear-gradient(to right, #d66d75, #e29587); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}